<div class="row mt-3">
    <div class="col">
        <div>
            <img class="img" src="https://smartscentvn.com/wp-content/uploads/2019/05/tao-mui-thom-cho-phong-khach.jpg">
        </div>
        <h3>Phòng khách</h3>
        <div class="luc">
            <h2 id="temp_living_room" style="margin-bottom: 0px;"> 26 </h2>
            <img class="phong"src="https://gotrack365.com/wp-content/uploads/2021/03/Icon-nhiet-do-4-2.png" width="60">
        </div>
        <div>
            <img class="phong" src="https://cambienbaomuc.com/wp-content/uploads/2019/05/do-do-am.png">
        </div>
        <button id="bat">Bat</button>
        <button id="tat">Tat</button>

    </div>
    <div class="col">
        <div><img class="img" src="https://noithatngahung.com/wp-content/uploads/2021/03/ph%C3%B2ng-ng%E1%BB%A7-2.jpg"></div>
        <h1>Phòng ngủ</h1>
        <button id="bat">Bat</button>
            <button id="tat">Tat</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <img class="img" src="https://amore-architecture.vn/wp-content/uploads/2020/12/noi-that-phong-an-1.png">
        <h1>Khu Vực Bếp</h1>
        <button id="bat">Bat</button>
            <button id="tat">Tat</button>
    </div>
    <div class="col">
        <img class="img"
            src="https://static-5.happynest.vn/storage/uploads/2023/03/ava-bao-gia-chong-tham-phong-ve-sinh-1-1678126219.jpeg">
        <h1>Nhà Vệ Sinh</h1>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
</div>